/* 
 * Project: Onliness
 * File: style.css
 * 
 */

/* Grayscale mode */
html {
    transition: filter .4s ease;
    transition-delay: .8s;
}
html.onlineliness-offline {
    filter: grayscale(.75);
    transition: filter .2s ease;
    transition-delay: 0s;
}

/* Shadow */
html::after {
    bottom: 0;
    box-shadow: inset 0 0 7rem #000;
    content: "";
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .8s ease;
    transition-delay: 0s;
    z-index: 2147483647;
}
html.onlineliness-offline::after {
    opacity: 1;
    transition: opacity .8s ease;
    transition-delay: .2s;
}
